//
// Variables
// --------------------------------------------------

//== Fonts
$font-size-callback: 16px;

$font-icon-font-size: 24px;
$mdi-font-size-base: $font-icon-font-size;


// Panel
$panel-width: 270px;

// Table
$table-header-bg: color('grey', 'lighten-4');

// card
$card-padding: 20px;

// navbar
$navbar-bg: color('teal', 'base');
