%button-base {
  @extend %border-radius;
  @extend %transition-out;

  @include rem(font-size, 14px);
  @include border-radius(3px);

  outline: none 0;
  box-shadow: none;
  text-decoration: none !important;
  width: auto;

  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-appearance: none;

  margin-top: 0;
  margin-bottom: 1px;

  &:hover {
    @extend %transition-in;
  }

  &:active {
    margin-top: 1px;
    margin-bottom: 0;
  }
}

%button {
  @extend %button-base;
  @extend %button--default;

  @include rem(padding, 10px 16px);
  // @include rem(margin-left, 4px);

  display: inline-block;
  cursor: pointer;

  &.button--default {
    @extend %button--default;
  }

  &.button--dark {
    @extend %button--dark;
  }

  &.button--green {
    @extend %button--green;
  }
}

%button--default {
  @include box-shadow(-1px 3px 0 color('grey', 'lighten-1'), 1px 3px 0 color('grey', 'lighten-1'));

  border: 1px solid color('grey', 'lighten-2');
  background: color('grey', 'lighten-5');
  color: color('grey', 'darken-3') !important;

  &:hover {
    background: #fff;
    color: color('blue', 'darken-4') !important;
  }

  &:active {
    @include box-shadow(-1px 2px 0 color('grey', 'lighten-1'), 1px 2px 0 color('grey', 'lighten-1'));
  }
}

%button--dark {
  @include box-shadow(-1px 3px 0 color('grey', 'base'), 1px 3px 0 color('grey', 'base'));

  border-color: color('grey', 'base');
  background: color('grey', 'darken-2');
  color: color('grey', 'lighten-3') !important;

  &:hover {
    background: color('grey', 'darken-3');
    color: #fff !important;
  }

  &:active {
    @include box-shadow(-1px 2px 0 color('grey', 'base'), 1px 2px 0 color('grey', 'base'));
  }
}

%button--green {
  @include box-shadow(-1px 3px 0 color('green', 'lighten-2'), 1px 3px 0 color('green', 'lighten-2'));

  border-color: color('green', 'lighten-2');
  background: color('green', 'darken-2');
  color: color('grey', 'lighten-3') !important;

  &:hover {
    background: color('green', 'darken-3');
    color: #fff !important;
  }

  &:active {
    @include box-shadow(-1px 2px 0 color('green', 'lighten-2'), 1px 2px 0 color('green', 'lighten-2'));
  }
}

.button__container {
  @include display-flex(inline-flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-shrink(0);
  @include flex-wrap(wrap);

  button,
  .button {
    @extend %button;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
