@font-face {
	font-family: 'roboto';
	src: url('../font/roboto-light.eot');
	src: url('../font/roboto-light.eot?#iefix') format('embedded-opentype'),
		url('../font/roboto-light.woff') format('woff'),
		url('../font/roboto-light.ttf') format('truetype'),
		url('../font/roboto-lightwebfont.svg#robotolight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../font/roboto-regular.eot');
	src: url('../font/roboto-regular.eot?#iefix') format('embedded-opentype'),
		url('../font/roboto-regular.woff') format('woff'),
		url('../font/roboto-regular.ttf') format('truetype'),
		url('../font/roboto-regular.svg#robotoregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../font/roboto-italic.eot');
	src: url('../font/roboto-italic.eot?#iefix') format('embedded-opentype'),
		url('../font/roboto-italic.woff') format('woff'),
		url('../font/roboto-italic.ttf') format('truetype'),
		url('../font/roboto-italic.svg#robotoitalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'roboto';
	src: url('../font/roboto-medium.eot');
	src: url('../font/roboto-medium.eot?#iefix') format('embedded-opentype'),
		url('../font/roboto-medium.woff') format('woff'),
		url('../font/roboto-medium.ttf') format('truetype'),
		url('../font/roboto-medium.svg#robotomedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../font/roboto-bold.eot');
	src: url('../font/roboto-bold.eot?#iefix') format('embedded-opentype'),
		url('../font/roboto-bold.woff') format('woff'),
		url('../font/roboto-bold.ttf') format('truetype'),
		url('../font/roboto-bold.svg#robotobold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'menlo';
	src: url('../font/meslolgm-bold.eot');
	src: url('../font/meslolgm-bold.eot?#iefix') format('embedded-opentype'),
		url('../font/meslolgm-bold.woff') format('woff'),
		url('../font/meslolgm-bold.ttf') format('truetype'),
		url('../font/meslolgm-bold.svg#meslolgm-bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'menlo';
	src: url('../font/meslolgm-regular.eot');
	src: url('../font/meslolgm-regular.eot?#iefix') format('embedded-opentype'),
		url('../font/meslolgm-regular.woff') format('woff'),
		url('../font/meslolgm-regular.ttf') format('truetype'),
		url('../font/meslolgm-regular.svg#meslolgm-regular') format('svg');
	font-weight: 400;
	font-style: normal;
}
